.gradient{
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #286155);
}

.btn{
    -fx-background-color: linear-gradient(to bottom right, #098c53, #246861);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-family: "Open Sans Semibold";
    -fx-font-size: 18px;
}

.btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #0fb565, #399a8f);
}

.btn:focused {
    -fx-border-color: #0fb565; /* Màu border khi focus, bạn có thể thay đổi */
    -fx-border-width: 2px; /* Độ dày border */
    -fx-border-style: solid; /* Kiểu border */
    -fx-border-radius: 5px; /* Bo góc cho border, giống với background-radius */
    -fx-border-insets: -4px; /* Tăng khoảng cách giữa nút và border khi focus */
}
.textfield{
    -fx-background-color: transparent;
    -fx-border-color:linear-gradient(to bottom right, #0f6789, #286155);
    -fx-border-width: 0 0 0.8px 0;
    -fx-font-family: "Open Sans";
    -fx-font-size: 14px;
    -fx-padding: 0 10px 0 27px;
}

.label{
    -fx-text-fill: #286155;
    -fx-font-size: 28px;
    -fx-font-family: "Open Sans Semibold";
}

.show-password{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.password-field{
    -fx-padding: 0 30px 0 27px;
}

.normal-text{
    -fx-font-size: 14px;
    -fx-font-family: "Open Sans";
}

.otp-field{
    -fx-background-color: transparent;
    -fx-border-color:linear-gradient(to bottom right, #0f6789, #286155);
    -fx-border-width: 0 0 0.8px 0;
    -fx-font-family: "Open Sans";
    -fx-font-size: 20px;
    -fx-padding: 0 10px 0 10px;
}